<div class="login-container">
  
  <div class="left-panel animate__animated animate__fadeInLeft">
    
    <mat-card class="login-card mat-elevation-z8">
      <mat-card-header class="card-header">
        <div class="logo-placeholder">
          <mat-icon class="app-logo" color="primary">school</mat-icon>
        </div>
        <mat-card-title>Welcome Back!</mat-card-title>
        <mat-card-subtitle>Please login to your account.</mat-card-subtitle>
      </mat-card-header>

      <mat-card-content class="card-body">
        <form *ngIf="!isLoggedIn" (ngSubmit)="loginForm.form.valid && onSubmit()" #loginForm="ngForm" novalidate class="login-form">

          <mat-form-field appearance="outline" class="full-width">
            <mat-label>Username</mat-label>
            <mat-icon matPrefix class="prefix-icon">person</mat-icon>
            <input matInput type="text" name="username" [(ngModel)]="form.username" required #username="ngModel">
            <mat-error *ngIf="username.errors?.['required'] && loginForm.submitted">
              Username is required!
            </mat-error>
          </mat-form-field>

          <mat-form-field appearance="outline" class="full-width">
            <mat-label>Password</mat-label>
            <mat-icon matPrefix class="prefix-icon">lock</mat-icon>
            <input matInput type="password" name="password" [(ngModel)]="form.password" required minlength="4" #password="ngModel">
            <mat-error *ngIf="password.errors?.['required'] && loginForm.submitted">
              Password is required!
            </mat-error>
            <mat-error *ngIf="password.errors?.['minlength'] && loginForm.submitted">
              Password must be at least 4 characters long.
            </mat-error>
          </mat-form-field>

          <button mat-flat-button color="primary" class="btn-login" type="submit">
            Login to Dashboard
          </button>

          <div class="alert alert-danger animate__animated animate__shakeX" *ngIf="isLoginFailed">
            <mat-icon>error_outline</mat-icon>
            <span>{{ errorMessage }}</span>
          </div>
        </form>

        <div class="alert alert-success animate__animated animate__fadeIn" *ngIf="isLoggedIn">
          <mat-icon>check_circle</mat-icon>
          <span>Login successful! Redirecting...</span>
        </div>
      </mat-card-content>
    </mat-card>
    
    <p class="copyright">© 2026 School Management System <br> All rights reserved to Asif & Tinku</p>
   
    
  </div>

  <div class="right-panel animate__animated animate__fadeInRight">
    <div class="content-overlay">
      <h1 class="animate__animated animate__fadeInUp animate__delay-1s">Smart School Manager</h1>
      <p class="animate__animated animate__fadeInUp animate__delay-2s">
        Empowering education through seamless management and unlocking potential with our excellence platform.
      </p>
    </div>
  </div>

</div>